<img src="fireblaze.jpg" width=250 height=200 />

## <p style="font-family: Arial; font-size:1.4em;color:red; style='background :yellow'"> Assignment</p>

<span style='color:Red'> **About The Dataset(Sales Dataset)** </span>

Here are the definitions for a few of the columns:
* **File_Type:** The value “Active” means that the particular product needs investigation

* **SoldFlag:** The value 1 = sale, 0 = no sale in past six months

* **SKU_number:** This is the unique identifier for each product.

* **Order:** Just a sequential counter. Can be ignored.

* **SoldFlag:** 1 = sold in past 6 mos. 0 = Not sold

* **MarketingType:** Two categories of how we market the product.

* **New_Release_Flag:** Any product that has had a future release (i.e., Release Number > 1)

<span style='color:Blue'> **Import the Required Libraries** </span>

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

### <span style='color:Blue'> **Question - 1.Read the Sales dataset and display the top five rows** </span>

In [28]:
df=pd.read_csv('Sales_data.csv')
df.head(20)

,Order,File_Type,SKU_number,SoldFlag,SoldCount,MarketingType,ReleaseNumber,New_Release_Flag,StrengthFactor,PriceReg,ReleaseYear,ItemCount,LowUserPrice,LowNetPrice
0,2,Historical,1737127,0.0,0.0,D,15,1,682743.0,44.99,2015,8,28.97,31.84
1,3,Historical,3255963,0.0,0.0,D,7,1,1016014.0,24.81,2005,39,0.00,15.54
2,4,Historical,612701,0.0,0.0,D,0,0,340464.0,46.00,2013,34,30.19,27.97
3,6,Historical,115883,1.0,1.0,D,4,1,334011.0,100.00,2006,20,133.93,83.15
4,7,Historical,863939,1.0,1.0,D,2,1,1287938.0,121.95,2010,28,4.00,23.99
5,8,Historical,214948,0.0,0.0,D,0,0,1783153.0,132.00,2011,33,138.98,13.64
6,9,Historical,484059,0.0,0.0,D,13,1,2314801.0,95.95,2010,33,90.77,46.49
7,10,Historical,146401,0.0,0.0,D,4,1,721111.0,207.80,2011,57,187.90,30.56
8,11,Historical,110568,0.0,0.0,D,11,1,436667.0,119.81,2008,36,63.99,96.92
9,12,Historical,764270,0.0,0.0,D,5,1,6652211.0,49.95,2004,19,53.99,28.99
10,13,Historical,1597828,0.0,0.0,D,9,1,161348.0,36.95,2008,21,0.00,27.98
11,14,Historical,178736,0.0,0.0,D,4,1,3005118.0,55.95,2010,16,34.51,11.52
12,15,Historical,525904,0.0,0.0,D,10,1,1785056.0,104.99,2010,15,4.39,73.89
13,16,Historical,3016759,0.0,0.0,D,2,1,4323581.0,0.00,1994,26,0.00,61.85
14,17,Historical,169222,0.0,0.0,D,8,1,2352021.0,129.95,2006,22,75.84,8.97
15,18,Historical,3071053,0.0,0.0,D,5,1,7693526.0,64.95,2005,12,128.99,37.39
16,19,Historical,110699,1.0,1.0,D,6,1,383129.0,120.39,2007,69,170.45,78.99
17,20,Historical,115159,0.0,0.0,D,1,0,909831.0,126.20,2001,33,38.92,44.46
18,21,Historical,143125,0.0,0.0,D,9,1,2798929.0,167.75,2006,20,6.97,28.49
19,22,Historical,144296,0.0,0.0,D,2,1,2491442.0,94.60,2001,33,11.23,4.99

### <span style='color:Blue'> **Question - 2. Display the central tendency, Dispersion, and Shape of Dataset** </span>

In [29]:
df.describe()

,Order,SKU_number,SoldFlag,SoldCount,ReleaseNumber,New_Release_Flag,StrengthFactor,PriceReg,ReleaseYear,ItemCount,LowUserPrice,LowNetPrice
count,198917.000000,1.989170e+05,75996.000000,75996.000000,198917.000000,198917.000000,1.989170e+05,198917.000000,198917.000000,198917.000000,198917.000000,198917.000000
mean,106483.543242,8.613626e+05,0.171009,0.322306,3.412202,0.642248,1.117115e+06,90.895243,2006.016414,41.426283,30.982487,46.832053
std,60136.716784,8.699794e+05,0.376519,1.168615,3.864243,0.479340,1.522090e+06,86.736367,9.158331,37.541215,69.066155,128.513236
min,2.000000,5.000100e+04,0.000000,0.000000,0.000000,0.000000,6.275000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,55665.000000,2.172520e+05,0.000000,0.000000,1.000000,0.000000,1.614188e+05,42.000000,2003.000000,21.000000,4.910000,17.950000
50%,108569.000000,6.122080e+05,0.000000,0.000000,2.000000,1.000000,5.822240e+05,69.950000,2007.000000,32.000000,16.080000,33.980000
75%,158298.000000,9.047510e+05,0.000000,0.000000,5.000000,1.000000,1.430083e+06,116.000000,2011.000000,50.000000,40.240000,55.490000
max,208027.000000,3.960788e+06,1.000000,73.000000,99.000000,1.000000,1.738445e+07,12671.480000,2018.000000,2542.000000,14140.210000,19138.790000

In [33]:
df.shape

(198917, 14)

### 1. Missing Value Analysis

### <span style='color:Blue'> **Question - 3. Our dataset any missing values? If Yes then how many and which feature has a missing value** </span>

In [35]:
df.isnull().sum()

Order                    0
File_Type                0
SKU_number               0
SoldFlag            122921
SoldCount           122921
MarketingType            0
ReleaseNumber            0
New_Release_Flag         0
StrengthFactor           0
PriceReg                 0
ReleaseYear              0
ItemCount                0
LowUserPrice             0
LowNetPrice              0
dtype: int64

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198917 entries, 0 to 198916
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order             198917 non-null  int64
 1   File_Type         198917 non-null  object
 2   SKU_number        198917 non-null  int64
 3   SoldFlag          75996 non-null   float64
 4   SoldCount         75996 non-null   float64
 5   MarketingType     198917 non-null  object
 6   ReleaseNumber     198917 non-null  int64
 7   New_Release_Flag  198917 non-null  int64
 8   StrengthFactor    198917 non-null  float64
 9   PriceReg          198917 non-null  float64
 10  ReleaseYear       198917 non-null  int64
 11  ItemCount         198917 non-null  int64
 12  LowUserPrice      198917 non-null  float64
 13  LowNetPrice       198917 non-null  float64
dtypes: float64(6), int64(6), object(2)
memory usage: 21.2+ MB

### <span style='color:Blue'> **Question - 4. Find a list of all the columns which have more than 50% of their values missing** </span>

In [5]:
#write observation and code here

### <span style='color:Blue'> **Question - 5. View the missing values within the data.** </span>
<br> Hint : Heatmap

In [6]:
#write observation and code here

### 2. Dealing with missing values.

### <span style='color:Blue'> **Question - 6. Remove all records if no more than 2 observations have been recorded.** </span>

In [7]:
#write observation and code here

### <span style='color:Blue'> **Question - 7. Discard unnecessary columns of data.** </span>

In [8]:
#write observation and code here

### <span style='color:Blue'> **Question - 8.Is there any feature in the dataset that could be exempted from dealing with outliers?** </span>

In [9]:
#write observation and code here

### <span style='color:Blue'> **Question - 9.How do I check the outliers for the feature showing the low net price?** </span>

In [10]:
#write observation and code here

### <span style='color:Blue'> **Question - 10.Find out optimal value of K and minimize the outliers.?** </span>

In [11]:
#write observation and code here

### <span style='color:Blue'> **Question - 11.Suggest a method for finding outliers for the feature representing the number of sku number.?** </span>

In [12]:
#write observation and code here

### <span style='color:Blue'> **Question - 12.Which method allows you to retrieve the corresponding record within the data.?** </span>

In [13]:
#write observation and code here

### <span style='color:Blue'> **Question - 13.Calculate the standard score of Release Number?** </span>

In [14]:
#write observation and code here

### <span style='color:Blue'> **Question - 14.In marketing type which items are more sellable.** </span>

NOTE:- Show the output in visualization

In [15]:
#write observation and code here

### <span style='color:Blue'> **Question - 15.Find out bias of soldflag based on release number?** </span>

NOTE:- Box Plot.

In [16]:
#write observation and code here

### <span style='color:Blue'> **Question - 16.Find out missing values and fill with zero?** </span>

In [17]:
#write observation and code here

### <span style='color:Blue'> **Question - 17.How many value are active and historical in File_Type column ?** </span>

NOTE:- Explain in brief from graph.

In [18]:
#write observation and code here

### <span style='color:Blue'> **Question - 18. How many features are positive and negatively correlated?** </span>

NOTE:- Explain with values and plot the corrleation values.

In [19]:
#write observation and code here

### <span style='color:Blue'> **Question - 19. Show the corrleation between 0 and 1.** </span>

In [20]:
#write observation and code here

### <span style='color:Blue'> **Question - 20. Summaries the data with categorical variable.** </span>

In [21]:
#write observation and code here

### <span style='color:Blue'> **Question - 21. Calculate the mean and median of SKU_number.** </span>

In [22]:
#write observation and code here

### <span style='color:Blue'> **Question - 22. Calculate the mean and median of PriceCount.** </span>

In [23]:
#write observation and code here

### <span style='color:Blue'> **Question - 23.Convert the File_Type columns to numerical.** </span>

In [24]:
#write observation and code here

### <span style='color:Blue'> **Question - 24.Handel the remaining categorical data.** </span>

In [25]:
#write observation and code here

### <span style='color:Blue'> **Question - 25.Normalize the data.** </span>

In [26]:
#write observation and code here