<img src="fireblaze.jpg" width=250 height=200 />

## <p style="font-family: Arial; font-size:1.4em;color:red; style='background :yellow'"> Assignment</p>

<span style='color:Red'> **About The Dataset(Sales Dataset)** </span>

Here are the definitions for a few of the columns:
* **File_Type:** The value “Active” means that the particular product needs investigation

* **SoldFlag:** The value 1 = sale, 0 = no sale in past six months

* **SKU_number:** This is the unique identifier for each product.

* **Order:** Just a sequential counter. Can be ignored.

* **SoldFlag:** 1 = sold in past 6 mos. 0 = Not sold

* **MarketingType:** Two categories of how we market the product.

* **New_Release_Flag:** Any product that has had a future release (i.e., Release Number > 1)

<span style='color:Blue'> **Import the Required Libraries** </span>

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np
import datetime

### <span style='color:Blue'> **Question - 1.Read the Sales dataset and display the top five rows** </span>

In [5]:
df=pd.read_csv('Sales_data.csv')
df.sample(20)

,Order,File_Type,SKU_number,SoldFlag,SoldCount,MarketingType,ReleaseNumber,New_Release_Flag,StrengthFactor,PriceReg,ReleaseYear,ItemCount,LowUserPrice,LowNetPrice
10015,10304,Historical,560537,1.0,3.0,D,13,1,2.564980e+05,185.00,2012,78,480.11,54.99
22255,22760,Historical,792787,0.0,0.0,D,0,0,5.372473e+06,155.00,1998,11,40.42,72.69
100678,109789,Active,1496157,NaN,NaN,S,0,0,4.265697e+04,23.00,2014,16,16.57,16.27
106438,115549,Active,1861115,NaN,NaN,S,0,0,7.048025e+03,26.95,2013,16,21.99,17.84
179135,188246,Active,538543,NaN,NaN,D,3,1,7.849115e+03,286.50,2012,76,45.47,95.99
135458,144569,Active,880075,NaN,NaN,D,2,1,1.967559e+06,61.51,2010,56,10.00,52.61
89071,98182,Active,1453341,NaN,NaN,D,1,0,1.664370e+05,175.20,2014,50,9.69,25.09
152738,161849,Active,132426,NaN,NaN,S,7,1,1.761032e+05,223.60,2007,66,5.75,42.74
34429,35207,Historical,533579,0.0,0.0,D,10,1,2.590410e+05,250.95,2012,48,18.94,73.25
152229,161340,Active,52808,NaN,NaN,D,6,1,7.567681e+05,232.95,2010,51,5.23,51.35
148595,157706,Active,263792,NaN,NaN,S,7,1,9.250295e+04,35.00,2008,96,5.53,19.38
164051,173162,Active,1826310,NaN,NaN,S,2,1,9.085872e+04,111.95,2013,27,39.09,62.46
195370,204481,Active,252013,NaN,NaN,D,4,1,6.384249e+05,240.95,2008,66,10.49,28.32
137472,146583,Active,809138,NaN,NaN,D,10,1,2.858317e+05,96.50,2011,35,29.05,0.00
24535,25077,Historical,622564,1.0,1.0,D,0,0,2.030273e+06,56.00,2006,53,74.77,70.29
174456,183567,Active,632933,NaN,NaN,D,4,1,4.497973e+05,130.00,2007,21,60.84,96.14
162383,171494,Active,1469784,NaN,NaN,D,2,1,2.496847e+06,577.50,2007,10,15.93,169.26
143375,152486,Active,717936,NaN,NaN,D,1,0,1.545518e+05,55.00,1999,49,9.02,17.79
107057,116168,Active,688012,NaN,NaN,S,1,0,3.537980e+04,29.99,2012,20,21.63,22.89
136878,145989,Active,516526,NaN,NaN,D,6,1,1.687136e+04,184.80,2012,131,6.86,73.96

### <span style='color:Blue'> **Question - 2. Display the central tendency, Dispersion, and Shape of Dataset** </span>

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198917 entries, 0 to 198916
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order             198917 non-null  int64
 1   File_Type         198917 non-null  object
 2   SKU_number        198917 non-null  int64
 3   SoldFlag          75996 non-null   float64
 4   SoldCount         75996 non-null   float64
 5   MarketingType     198917 non-null  object
 6   ReleaseNumber     198917 non-null  int64
 7   New_Release_Flag  198917 non-null  int64
 8   StrengthFactor    198917 non-null  float64
 9   PriceReg          198917 non-null  float64
 10  ReleaseYear       198917 non-null  int64
 11  ItemCount         198917 non-null  int64
 12  LowUserPrice      198917 non-null  float64
 13  LowNetPrice       198917 non-null  float64
dtypes: float64(6), int64(6), object(2)
memory usage: 21.2+ MB

### 1. Missing Value Analysis

### <span style='color:Blue'> **Question - 3. Our dataset any missing values? If Yes then how many and which feature has a missing value** </span>

In [4]:
#write observation and code here

### <span style='color:Blue'> **Question - 4. Find a list of all the columns which have more than 50% of their values missing** </span>

In [5]:
#write observation and code here

### <span style='color:Blue'> **Question - 5. View the missing values within the data.** </span>
<br> Hint : Heatmap

In [6]:
#write observation and code here

### 2. Dealing with missing values.

### <span style='color:Blue'> **Question - 6. Remove all records if no more than 2 observations have been recorded.** </span>

In [7]:
#write observation and code here

### <span style='color:Blue'> **Question - 7. Discard unnecessary columns of data.** </span>

In [8]:
#write observation and code here

### <span style='color:Blue'> **Question - 8.Is there any feature in the dataset that could be exempted from dealing with outliers?** </span>

In [9]:
#write observation and code here

### <span style='color:Blue'> **Question - 9.How do I check the outliers for the feature showing the low net price?** </span>

In [10]:
#write observation and code here

### <span style='color:Blue'> **Question - 10.Find out optimal value of K and minimize the outliers.?** </span>

In [11]:
#write observation and code here

### <span style='color:Blue'> **Question - 11.Suggest a method for finding outliers for the feature representing the number of sku number.?** </span>

In [12]:
#write observation and code here

### <span style='color:Blue'> **Question - 12.Which method allows you to retrieve the corresponding record within the data.?** </span>

In [13]:
#write observation and code here

### <span style='color:Blue'> **Question - 13.Calculate the standard score of Release Number?** </span>

In [14]:
#write observation and code here

### <span style='color:Blue'> **Question - 14.In marketing type which items are more sellable.** </span>

NOTE:- Show the output in visualization

In [15]:
#write observation and code here

### <span style='color:Blue'> **Question - 15.Find out bias of soldflag based on release number?** </span>

NOTE:- Box Plot.

In [16]:
#write observation and code here

### <span style='color:Blue'> **Question - 16.Find out missing values and fill with zero?** </span>

In [ ]:
#write observation and code here

### <span style='color:Blue'> **Question - 17.How many value are active and historical in File_Type column ?** </span>

NOTE:- Explain in brief from graph.

In [ ]:
#write observation and code here

### <span style='color:Blue'> **Question - 18. How many features are positive and negatively correlated?** </span>

NOTE:- Explain with values and plot the corrleation values.

In [ ]:
#write observation and code here

### <span style='color:Blue'> **Question - 19. Show the corrleation between 0 and 1.** </span>

In [ ]:
#write observation and code here

### <span style='color:Blue'> **Question - 20. Summaries the data with categorical variable.** </span>

In [ ]:
#write observation and code here

### <span style='color:Blue'> **Question - 21. Calculate the mean and median of SKU_number.** </span>

In [ ]:
#write observation and code here

### <span style='color:Blue'> **Question - 22. Calculate the mean and median of PriceCount.** </span>

In [ ]:
#write observation and code here

### <span style='color:Blue'> **Question - 23.Convert the File_Type columns to numerical.** </span>

In [ ]:
#write observation and code here

### <span style='color:Blue'> **Question - 24.Handel the remaining categorical data.** </span>

In [ ]:
#write observation and code here

### <span style='color:Blue'> **Question - 25.Normalize the data.** </span>

In [ ]:
#write observation and code here