In [6]:
import numpy as np
import pandas as pd
import pandas_datareader.data as pdr
from sklearn import preprocessing
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from datetime import datetime as dt

In [7]:
start=dt(2021, 1, 1)

In [8]:
end=dt(2021, 12, 1)

In [9]:
df=pdr.DataReader(name='TITAN.NS', data_source='yahoo', start=start, end=end)

In [10]:
data = df
X = data[['High','Low','Open','Volume']].values
y = data['Close'].values

In [11]:
# split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=1)

In [12]:
regressor = LinearRegression()

In [13]:
regressor.fit(X_train, y_train)

LinearRegression()

In [14]:
print(regressor.coef_)

[ 8.21519783e-01  7.91958572e-01 -6.13656966e-01 -6.68112842e-07]

In [15]:
print(regressor.intercept_)

-1.427402664700594

In [16]:
predicted = regressor.predict(X_test)

In [17]:
print(predicted)

[1412.93764669 2014.27768323 1535.48509523 1520.63358289 2499.6932191
 2153.72656269 1436.05805491 1738.60490925 1706.62238972 1447.05149593
 1538.68925264 1805.11117965 2379.21886086 1563.77260008 1597.50510952
 1726.87513049 1474.27845272 1717.12000593 1514.93775643 1733.69816619
 1963.96857401 1422.78189484 1911.41887996 2043.8102311  1482.7903956
 1827.57475133 2349.80533657 2390.89999245 1441.93911735 1872.27257525
 1812.92442724 1703.66821732 1730.09887284 1431.29784427 1447.73249724
 1541.23055681 1438.61299776 1476.94603394 1405.7153162  1492.73252118
 1496.61123183 1563.80745674 2389.35727552 1865.67274925 2422.71188155
 1456.99510873 1533.66865963 1487.82008063 2031.83062393 1751.25301374
 1481.80636027 1497.76065845 2142.35212239 1470.96280947 1502.50501385
 2095.21135168 1543.49954139 2277.49902696 1451.18485046 2125.68407916
 1526.90042134 2383.48091318 1860.0225664  1779.69754946 2049.65608678
 1833.67528824 2453.02476222 1444.77516055]

In [30]:
df3=pd.DataFrame(y_test,predicted)

In [31]:
df3.head()

                       0
1412.937647  1406.900024
2014.277683  2020.650024
1535.485095  1538.349976
1520.633583  1535.000000
2499.693219  2484.899902