In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np
import datetime
sns.set_style('whitegrid')

In [2]:
df=pd.read_csv('Uber Request Data.csv')
df.head()

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp
0,619,Airport,1.0,Trip Completed,11/7/2016 11:51,11/7/2016 13:00
1,867,Airport,1.0,Trip Completed,11/7/2016 17:57,11/7/2016 18:47
2,1807,City,1.0,Trip Completed,12/7/2016 9:17,12/7/2016 9:58
3,2532,Airport,1.0,Trip Completed,12/7/2016 21:08,12/7/2016 22:03
4,3112,City,1.0,Trip Completed,13-07-2016 08:33:16,13-07-2016 09:25:47

In [3]:
df.shape

(6745, 6)

In [4]:
df.isnull().sum()

Request id              0
Pickup point            0
Driver id            2650
Status                  0
Request timestamp       0
Drop timestamp       3914
dtype: int64

In [5]:
df['Drop timestamp']= pd.to_datetime(df['Drop timestamp'])
df['Request timestamp']= pd.to_datetime(df['Request timestamp'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6745 entries, 0 to 6744
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Request id         6745 non-null   int64
 1   Pickup point       6745 non-null   object
 2   Driver id          4095 non-null   float64
 3   Status             6745 non-null   object
 4   Request timestamp  6745 non-null   datetime64[ns]
 5   Drop timestamp     2831 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), object(2)
memory usage: 316.3+ KB

In [6]:
df.head(20)

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp
0,619,Airport,1.0,Trip Completed,2016-11-07 11:51:00,2016-11-07 13:00:00
1,867,Airport,1.0,Trip Completed,2016-11-07 17:57:00,2016-11-07 18:47:00
2,1807,City,1.0,Trip Completed,2016-12-07 09:17:00,2016-12-07 09:58:00
3,2532,Airport,1.0,Trip Completed,2016-12-07 21:08:00,2016-12-07 22:03:00
4,3112,City,1.0,Trip Completed,2016-07-13 08:33:16,2016-07-13 09:25:47
5,3879,Airport,1.0,Trip Completed,2016-07-13 21:57:28,2016-07-13 22:28:59
6,4270,Airport,1.0,Trip Completed,2016-07-14 06:15:32,2016-07-14 07:13:15
7,5510,Airport,1.0,Trip Completed,2016-07-15 05:11:52,2016-07-15 06:07:52
8,6248,City,1.0,Trip Completed,2016-07-15 17:57:27,2016-07-15 18:50:51
9,267,City,2.0,Trip Completed,2016-11-07 06:46:00,2016-11-07 07:25:00
10,1467,Airport,2.0,Trip Completed,2016-12-07 05:08:00,2016-12-07 06:02:00
11,1983,City,2.0,Trip Completed,2016-12-07 12:30:00,2016-12-07 12:57:00
12,2784,Airport,2.0,Trip Completed,2016-07-13 04:49:20,2016-07-13 05:23:03
13,3075,City,2.0,Trip Completed,2016-07-13 08:02:53,2016-07-13 09:16:19
14,3379,City,2.0,Trip Completed,2016-07-13 14:23:02,2016-07-13 15:35:18
15,3482,Airport,2.0,Trip Completed,2016-07-13 17:23:18,2016-07-13 18:20:51
16,4652,City,2.0,Trip Completed,2016-07-14 12:01:02,2016-07-14 12:36:46
17,5335,Airport,2.0,Trip Completed,2016-07-14 22:24:13,2016-07-14 23:18:52
18,535,Airport,3.0,Trip Completed,2016-11-07 10:00:00,2016-11-07 10:31:00
19,960,Airport,3.0,Trip Completed,2016-11-07 18:45:00,2016-11-07 19:23:00

In [8]:
df['Month']=df['Request timestamp'].dt.month_name()
df['Dayname']=df['Request timestamp'].dt.day_name()
df['Day']=df['Request timestamp'].dt.day
df['Hour']=df['Request timestamp'].dt.hour
df['Time']=df['Request timestamp'].dt.time

In [9]:
df.head(20)

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp,Month,Dayname,Day,Hour,Time
0,619,Airport,1.0,Trip Completed,2016-11-07 11:51:00,2016-11-07 13:00:00,November,Monday,7,11,11:51:00
1,867,Airport,1.0,Trip Completed,2016-11-07 17:57:00,2016-11-07 18:47:00,November,Monday,7,17,17:57:00
2,1807,City,1.0,Trip Completed,2016-12-07 09:17:00,2016-12-07 09:58:00,December,Wednesday,7,9,09:17:00
3,2532,Airport,1.0,Trip Completed,2016-12-07 21:08:00,2016-12-07 22:03:00,December,Wednesday,7,21,21:08:00
4,3112,City,1.0,Trip Completed,2016-07-13 08:33:16,2016-07-13 09:25:47,July,Wednesday,13,8,08:33:16
5,3879,Airport,1.0,Trip Completed,2016-07-13 21:57:28,2016-07-13 22:28:59,July,Wednesday,13,21,21:57:28
6,4270,Airport,1.0,Trip Completed,2016-07-14 06:15:32,2016-07-14 07:13:15,July,Thursday,14,6,06:15:32
7,5510,Airport,1.0,Trip Completed,2016-07-15 05:11:52,2016-07-15 06:07:52,July,Friday,15,5,05:11:52
8,6248,City,1.0,Trip Completed,2016-07-15 17:57:27,2016-07-15 18:50:51,July,Friday,15,17,17:57:27
9,267,City,2.0,Trip Completed,2016-11-07 06:46:00,2016-11-07 07:25:00,November,Monday,7,6,06:46:00
10,1467,Airport,2.0,Trip Completed,2016-12-07 05:08:00,2016-12-07 06:02:00,December,Wednesday,7,5,05:08:00
11,1983,City,2.0,Trip Completed,2016-12-07 12:30:00,2016-12-07 12:57:00,December,Wednesday,7,12,12:30:00
12,2784,Airport,2.0,Trip Completed,2016-07-13 04:49:20,2016-07-13 05:23:03,July,Wednesday,13,4,04:49:20
13,3075,City,2.0,Trip Completed,2016-07-13 08:02:53,2016-07-13 09:16:19,July,Wednesday,13,8,08:02:53
14,3379,City,2.0,Trip Completed,2016-07-13 14:23:02,2016-07-13 15:35:18,July,Wednesday,13,14,14:23:02
15,3482,Airport,2.0,Trip Completed,2016-07-13 17:23:18,2016-07-13 18:20:51,July,Wednesday,13,17,17:23:18
16,4652,City,2.0,Trip Completed,2016-07-14 12:01:02,2016-07-14 12:36:46,July,Thursday,14,12,12:01:02
17,5335,Airport,2.0,Trip Completed,2016-07-14 22:24:13,2016-07-14 23:18:52,July,Thursday,14,22,22:24:13
18,535,Airport,3.0,Trip Completed,2016-11-07 10:00:00,2016-11-07 10:31:00,November,Monday,7,10,10:00:00
19,960,Airport,3.0,Trip Completed,2016-11-07 18:45:00,2016-11-07 19:23:00,November,Monday,7,18,18:45:00

In [10]:
df['Status'].value_counts()

Trip Completed       2831
No Cars Available    2650
Cancelled            1264
Name: Status, dtype: int64

In [11]:
df['Pickup point'].value_counts()

City       3507
Airport    3238
Name: Pickup point, dtype: int64

In [12]:
df['Driver id'].value_counts()

27.0     22
176.0    21
177.0    21
84.0     21
22.0     21
         ..
208.0     8
123.0     7
42.0      7
265.0     6
300.0     6
Name: Driver id, Length: 300, dtype: int64

In [13]:
df['Driver id'].isnull().sum()

2650

In [14]:
df['Driver id']=df['Driver id'].fillna(-1)

In [15]:
df['Driver id'].value_counts()

-1.0      2650
 27.0       22
 22.0       21
 84.0       21
 70.0       21
          ...
 217.0       8
 42.0        7
 123.0       7
 265.0       6
 300.0       6
Name: Driver id, Length: 301, dtype: int64

In [ ]:
#number of people who coompleted a trip
sns.displot(data=df, x='Status')