In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('auto-mpg.csv')

In [3]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [8]:
df['horsepower']=df['horsepower'].replace('?',np.nan).astype(float)

In [9]:
df['horsepower'].unique()

array([130., 165., 150., 140., 198., 220., 215., 225., 190., 170., 160.,
        95.,  97.,  85.,  88.,  46.,  87.,  90., 113., 200., 210., 193.,
        nan, 100., 105., 175., 153., 180., 110.,  72.,  86.,  70.,  76.,
        65.,  69.,  60.,  80.,  54., 208., 155., 112.,  92., 145., 137.,
       158., 167.,  94., 107., 230.,  49.,  75.,  91., 122.,  67.,  83.,
        78.,  52.,  61.,  93., 148., 129.,  96.,  71.,  98., 115.,  53.,
        81.,  79., 120., 152., 102., 108.,  68.,  58., 149.,  89.,  63.,
        48.,  66., 139., 103., 125., 133., 138., 135., 142.,  77.,  62.,
       132.,  84.,  64.,  74., 116.,  82.])

In [11]:
df['horsepower'].fillna(df['horsepower'].median(),inplace=True)

In [12]:
df['horsepower'].unique()

array([130. , 165. , 150. , 140. , 198. , 220. , 215. , 225. , 190. ,
       170. , 160. ,  95. ,  97. ,  85. ,  88. ,  46. ,  87. ,  90. ,
       113. , 200. , 210. , 193. ,  93.5, 100. , 105. , 175. , 153. ,
       180. , 110. ,  72. ,  86. ,  70. ,  76. ,  65. ,  69. ,  60. ,
        80. ,  54. , 208. , 155. , 112. ,  92. , 145. , 137. , 158. ,
       167. ,  94. , 107. , 230. ,  49. ,  75. ,  91. , 122. ,  67. ,
        83. ,  78. ,  52. ,  61. ,  93. , 148. , 129. ,  96. ,  71. ,
        98. , 115. ,  53. ,  81. ,  79. , 120. , 152. , 102. , 108. ,
        68. ,  58. , 149. ,  89. ,  63. ,  48. ,  66. , 139. , 103. ,
       125. , 133. , 138. , 135. , 142. ,  77. ,  62. , 132. ,  84. ,
        64. ,  74. , 116. ,  82. ])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(4), int64(4), object(1)
memory usage: 28.1+ KB

In [20]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name'],
      dtype='object')

In [24]:
x=df[['cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin']]

In [22]:
y=df['mpg']

In [15]:
from sklearn.model_selection import train_test_split

In [25]:
train_test_split(x,y,test_size=0.20,random_state=0)

[     cylinders  displacement  horsepower  weight  acceleration  model year  \
 64           8         318.0       150.0    4135          13.5          72
 55           4          97.0        60.0    1834          19.0          71
 317          4          97.0        78.0    2188          15.8          80
 102          4          97.0        46.0    1950          21.0          73
 358          4         120.0        74.0    2635          18.3          81
 ..         ...           ...         ...     ...           ...         ...
 323          4         156.0       105.0    2800          14.4          80
 192          6         250.0       105.0    3353          14.5          76
 117          4          68.0        49.0    1867          19.5          73
 47           6         250.0       100.0    3282          15.0          71
 172          4          90.0        71.0    2223          16.5          75

      origin
 64        1
 55        2
 317       2
 102       2
 358       3
 ..      ...
 323       1
 192       1
 117       2
 47        1
 172       2

 [318 rows x 7 columns],
      cylinders  displacement  horsepower  weight  acceleration  model year  \
 65           8         351.0       153.0    4129          13.0          72
 132          4         140.0        75.0    2542          17.0          74
 74           8         302.0       140.0    4294          16.0          72
 78           4         120.0        87.0    2979          19.5          72
 37           6         232.0       100.0    3288          15.5          71
 ..         ...           ...         ...     ...           ...         ...
 269          4         105.0        75.0    2230          14.5          78
 235          4          97.0        75.0    2265          18.2          77
 145          4          83.0        61.0    2003          19.0          74
 196          4          98.0        60.0    2164          22.1          76
 124          8         350.0       180.0    3664          11.0          73

      origin
 65        1
 132       1
 74        1
 78        2
 37        1
 ..      ...
 269       1
 235       3
 145       3
 196       1
 124       1

 [80 rows x 7 columns],
 64     15.0
 55     27.0
 317    34.3
 102    26.0
 358    31.6
        ...
 323    27.9
 192    22.0
 117    29.0
 47     19.0
 172    25.0
 Name: mpg, Length: 318, dtype: float64,
 65     14.0
 132    25.0
 74     13.0
 78     21.0
 37     18.0
        ...
 269    30.9
 235    26.0
 145    32.0
 196    24.5
 124    11.0
 Name: mpg, Length: 80, dtype: float64]